.logo-header {
    width: 60px;
}

/* 
.menu .nav-item .nav-link:hover {
    color: #fdfb7d;

} */
.bg-white {
    background: #fff;
}

.img-1 {
    width: 600px;
    border-radius: 5px;
}

.section-duvidas h3 {
    color: #000;
}

a:hover .link-content {
    background-color: #fff;
    border-radius: 0px;
    padding: 0px;
}

img {
    transition: all .25s ease-in-out;
}

a:hover img {
    width: 100%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

body {
    background-color: #f5f5f5;
}

section {
    background-color: #fff;
}

/* a:hover .link-content {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
}

a:hover img {
    width: 580px;
} */

/* a:hover .link-content h3 {
    color: #ccc;
} */

/* footer {
    background: #0d6efd;

} */