/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .h1-header {
        font-size: 10px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .h1-header {
        font-size: 27.158px;
    }
 } 

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .h1-header {
        font-size: 27.158px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .h1-header {
        font-size: 27.158px;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .h1-header {
        font-size: 27.158px;
    }
 } 