.logo-header {
    width: 60px;
}

/* 
.menu .nav-item .nav-link:hover {
    color: #fdfb7d;

} */
.bg-white {
    background: #fff;
}

.img-1 {
    width: 600px;
}

/* footer {
    background: #0d6efd;

} */